<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
	{% load static %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
    a:link {
    color: red;
	}

	/* visited link */
	a:visited {
	    color: green;
	}

	/* mouse over link */
	a:hover {
	    color: red;
	}

	/* selected link */
	a:active {
	    color: blue;
	}
</style>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'calapp/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'calapp/css/stylesheet.css' %}" /> -->


</head>
<body id="body">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{%url 'home' %}">Vulnerability Detection</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{%url 'home' %}">Home</a></li>
      <li><a href="#">Risks graph</a></li>
      <li><a href="#">Hosts</a></li>
      <li><a href="#">Search</a></li>
    </ul>
  </div>
</nav>
	{% block content %}


	{% endblock %}

</body>
</html>
