{% extends 'calapp/base.html' %}
{% block content %}

<div class="jumbotron">
	<h1>All the hosts</h1>
</div>




<table class="table table-striped" id="hosttable">
	<thead>
<tr>
	<th>Host Name</th>
	<th>IP address</th>
</tr>
</thead>
<tbody>
	{% for host in allhosts %}

		{% include 'calapp/_calender_entry.html' %}

	{% endfor %}
</tbody>
</table>



<script>

// 
// $(host).on('click', function(){
// 	window.setTimeout(function(){
//
// 			// Move to a new location or you can do something else
// 			window.location.href = "{% url 'showcsv' %}"
//
// 	}, 5000);
//
// })


</script>




{% endblock %}
