{% extends 'calapp/base.html' %}
{% block content %}

<div class="container">
	<div class="row">
	
	</div>
</div>

<div>
	<button onclick="window.location='{% url 'csv'}'" class="btn btn-primary">report</button>
</div>
{% endblock %}
