{% extends 'calapp/base.html' %}
{% block content %}

<div class="loader" style="width:800px; margin:0 auto;"></div>
<script>
$(document).ready(function(){
	window.setTimeout(function(){

			// Move to a new location or you can do something else
			window.location.href = "{% url 'showcsv' %}"

	}, 5000);

});
</script>



{% endblock %}
