<table class="table-bordered table-striped table-hover table_size">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Outputversion</th>
      <th>File</th>
      <th>CPE</th>
      <th>CVE</th>
      <th>CVSS</th>
      <th>Matchtype</th>
      <th>Hostname</th>
      <th>Userkey</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2013-6230</td>
      <td>6.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-1349</td>
      <td>5.4</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-4620</td>
      <td>7.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8000</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8461</td>
      <td>7.1</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1285</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1286</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-2775</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-6170</td>
      <td>4.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-8864</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-9131</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>11</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-8500</td>
      <td>7.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>14</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>15</th>
      <td>3</td>
      <td>/usr/lib64/libbind9.so.90.0.8</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>16</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2013-6230</td>
      <td>6.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>17</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-1349</td>
      <td>5.4</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>18</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-4620</td>
      <td>7.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>19</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8000</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8461</td>
      <td>7.1</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>21</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1285</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1286</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>23</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-2775</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-6170</td>
      <td>4.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-8864</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>26</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-9131</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>27</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>28</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-8500</td>
      <td>7.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>30</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>31</th>
      <td>3</td>
      <td>/usr/lib64/libisc.so.95.2.1</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>32</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2013-6230</td>
      <td>6.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>33</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-1349</td>
      <td>5.4</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>34</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-4620</td>
      <td>7.8</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>35</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8000</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>36</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2015-8461</td>
      <td>7.1</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>37</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1285</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>38</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-1286</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>39</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-2775</td>
      <td>4.3</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>40</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-6170</td>
      <td>4.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>41</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-8864</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>42</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2016-9131</td>
      <td>5.0</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>43</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>44</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-8500</td>
      <td>7.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>45</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>46</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>47</th>
      <td>3</td>
      <td>/usr/lib64/libisccfg.so.90.0.7</td>
      <td>cpe:/a:isc:bind:9.9.4:::</td>
      <td>CVE-2014-0591</td>
      <td>2.6</td>
      <td>0</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>48</th>
      <td>3</td>
      <td>/usr/bin/cpio</td>
      <td>cpe:/a:gnu:cpio:2.11:::</td>
      <td>CVE-2014-9112</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>49</th>
      <td>3</td>
      <td>/usr/bin/cpio</td>
      <td>cpe:/a:gnu:cpio:2.11:::</td>
      <td>CVE-2015-1197</td>
      <td>1.9</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>50</th>
      <td>3</td>
      <td>/usr/bin/cpio</td>
      <td>cpe:/a:gnu:cpio:2.11:::</td>
      <td>CVE-2016-2037</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>51</th>
      <td>3</td>
      <td>/usr/bin/tar</td>
      <td>cpe:/a:gnu:tar:1.26:::</td>
      <td>CVE-2016-6321</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>52</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>53</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>54</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>55</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>56</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>57</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>58</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>59</th>
      <td>3</td>
      <td>/usr/bin/gencat</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>60</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>61</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>62</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>63</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>64</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>65</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>66</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>67</th>
      <td>3</td>
      <td>/usr/bin/getent</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>68</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>69</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>70</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>71</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>72</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>73</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>74</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>75</th>
      <td>3</td>
      <td>/usr/bin/iconv</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>76</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>77</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>78</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>79</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>80</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>81</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>82</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>83</th>
      <td>3</td>
      <td>/usr/bin/locale</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>84</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>85</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>86</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>87</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>88</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>89</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>90</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>91</th>
      <td>3</td>
      <td>/usr/bin/localedef</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>92</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>93</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>94</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>95</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>96</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>97</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>98</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>99</th>
      <td>3</td>
      <td>/usr/bin/rpcgen</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>100</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>101</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>102</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>103</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>104</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>105</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>106</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>107</th>
      <td>3</td>
      <td>/usr/bin/sprof</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>108</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>109</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>110</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>111</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>112</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>113</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>114</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>115</th>
      <td>3</td>
      <td>/usr/bin/getconf</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>116</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>117</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>118</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>119</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>120</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>121</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>122</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>123</th>
      <td>3</td>
      <td>/usr/sbin/ldconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>124</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>125</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>126</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>127</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>128</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>129</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>130</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>131</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>132</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>133</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>134</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>135</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>136</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>137</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>138</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>139</th>
      <td>3</td>
      <td>/usr/sbin/iconvconfig.x86_64</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>140</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>141</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>142</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>143</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>144</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>145</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>146</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>147</th>
      <td>3</td>
      <td>/usr/lib64/libpthread-2.26.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>148</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15670</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>149</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15671</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>150</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-15804</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>151</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-16997</td>
      <td>9.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>152</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2017-17426</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>153</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-100000</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>154</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6485</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>155</th>
      <td>3</td>
      <td>/usr/lib64/libthread_db-1.0.so</td>
      <td>cpe:/a:gnu:glibc:2.26:::</td>
      <td>CVE-2018-6551</td>
      <td>7.5</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>156</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16826</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>157</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16827</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>158</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16828</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>159</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16829</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>160</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16830</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>161</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16831</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>162</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-16832</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>163</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17080</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>164</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17121</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>165</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17122</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>166</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17123</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>167</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17124</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>168</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17125</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>169</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2017-17126</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>170</th>
      <td>3</td>
      <td>/usr/bin/as</td>
      <td>cpe:/a:gnu:binutils:2.29.1:::</td>
      <td>CVE-2018-6323</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>171</th>
      <td>3</td>
      <td>/usr/bin/bzip2</td>
      <td>cpe:/a:bzip:bzip2:1.0.6:::</td>
      <td>CVE-2016-3189</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>172</th>
      <td>3</td>
      <td>/usr/bin/bzip2recover</td>
      <td>cpe:/a:bzip:bzip2:1.0.6:::</td>
      <td>CVE-2016-3189</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>173</th>
      <td>3</td>
      <td>/usr/lib64/libbz2.so.1.0.6</td>
      <td>cpe:/a:bzip:bzip2:1.0.6:::</td>
      <td>CVE-2016-3189</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>174</th>
      <td>3</td>
      <td>/usr/bin/gpgsplit</td>
      <td>cpe:/a:gnupg:gnupg:1.2.7:::</td>
      <td>CVE-2013-4242</td>
      <td>1.9</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>175</th>
      <td>3</td>
      <td>/usr/bin/gpgsplit</td>
      <td>cpe:/a:gnupg:gnupg:1.2.7:::</td>
      <td>CVE-2013-4576</td>
      <td>2.1</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>176</th>
      <td>3</td>
      <td>/usr/bin/gpgsplit</td>
      <td>cpe:/a:gnupg:gnupg:1.2.7:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>177</th>
      <td>3</td>
      <td>/usr/bin/rsync</td>
      <td>cpe:/a:samba:rsync:3.0.9:::</td>
      <td>CVE-2014-2855</td>
      <td>7.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>178</th>
      <td>3</td>
      <td>/usr/bin/rsync</td>
      <td>cpe:/a:samba:rsync:3.0.9:::</td>
      <td>CVE-2018-5764</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>179</th>
      <td>3</td>
      <td>/usr/bin/gpg2</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>180</th>
      <td>3</td>
      <td>/usr/bin/watchgnupg</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>181</th>
      <td>3</td>
      <td>/usr/bin/gpg-agent</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>182</th>
      <td>3</td>
      <td>/usr/bin/gpg-connect-agent</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>183</th>
      <td>3</td>
      <td>/usr/bin/gpg-zip</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>184</th>
      <td>3</td>
      <td>/usr/bin/gpgconf</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>185</th>
      <td>3</td>
      <td>/usr/bin/gpgv2</td>
      <td>cpe:/a:gnupg:gnupg:2.0.22:::</td>
      <td>CVE-2014-4617</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>186</th>
      <td>3</td>
      <td>/usr/lib64/libpython3.6m.so.1.0</td>
      <td>cpe:/a:python:python:3.6.4:::</td>
      <td>CVE-2017-18207</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>187</th>
      <td>3</td>
      <td>/usr/lib64/libpython3.6m.so.1.0</td>
      <td>cpe:/a:python:python:3.6.4:::</td>
      <td>CVE-2018-100011</td>
      <td>7.2</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>188</th>
      <td>3</td>
      <td>/usr/lib64/libpython2.7.so.1.0</td>
      <td>cpe:/a:python:python:2.7.14:::</td>
      <td>CVE-2018-100003</td>
      <td>6.8</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>189</th>
      <td>3</td>
      <td>/usr/lib64/libcrypto.so.1.0.2k</td>
      <td>cpe:/a:openssl:openssl:1.0.2k:::</td>
      <td>CVE-2017-3735</td>
      <td>5.0</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>190</th>
      <td>3</td>
      <td>/usr/lib64/libcrypto.so.1.0.2k</td>
      <td>cpe:/a:openssl:openssl:1.0.2k:::</td>
      <td>CVE-2017-3737</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
    <tr>
      <th>191</th>
      <td>3</td>
      <td>/usr/lib64/libcrypto.so.1.0.2k</td>
      <td>cpe:/a:openssl:openssl:1.0.2k:::</td>
      <td>CVE-2017-3738</td>
      <td>4.3</td>
      <td>1</td>
      <td>ip-192-168-1-145.ec2.internal</td>
      <td>ip-192-168-1-145.ec2.internal</td>
    </tr>
  </tbody>
</table>