{% extends 'calapp/base.html' %}
{% block content %}
<div class="jumbotron">
	<div class="h3">ip-192-168-1-145.ec2.internal vulnerabilities</div>
</div>
<div class="panel panel-default">

  <div class="panel-heading"><button class="btn-primary">Recheck</button></div>

  <div class="panel-body">
  	{% include 'calapp/report.html' %}

</div>
</div>

{%endblock%}
